.q{
    width: 100%;
    height: 500px;
    background: tomato;
    padding: 10px;
}

.p
{
    width: 40%;
    height: 30%;
    background: violet;
    float: left;
    margin: 5px;
}
.o
{
    width: 40%;
    height: 30%;
    background: yellow;
    float: left;
    margin: 5px;
}

.i
{
    width: 40%;
    height: 30%;
    background: green;
    float: left;
    margin: 5px;
}

.u
{
    width: 40%;
    height: 30%;
    background: wheat;
    float: left;
    margin: 5px;
}