button{
    background-color:aqua;
    color: black
}

#p1
{
    color: blueviolet;
}

#p2
{
    color: coral;
}

.yo
{
    background: yellow;
}

div
{
    width: 300px;
    height: 300px;
    font-style: oblique;
    background: cyan;
    border: 5px solid red;
    margin-left: 100px;
    padding-left: 10px;
    padding-top: 40px;
}

.q
{
    width: 400px;
    height: 400px;
    background: grey;
    border: 5px solid darkblue;
}

.w
{
    width: 100px;
    height: 100px;
    background: wheat;
    color: darkmagenta;
    border: 0ch;
}