.main
{
    width: 100%;
    height: 100%;
    background: grey;
}
.head
{
    width: 100%;
    height: 150px;
    background: orange;
}

.rsidebar
{
    width: 200px;
    height: 400px;
    float: right;
    background: red;
}

.lsidebar
{
    width: 200px;
    height: 400px;
    float: left;
    background: green;
}

.footer
{
    width: 1500px;
    height: 200px;
    background: black;
}

.content
{
    height: 400px;

}

body
{
    margin: 0;
}